body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:rgb(198, 150, 230);
}


.jumbotron {
  background-color:rgb(198, 150, 230);
}
.jumbotron img {
width: 50%;
height: 50%;
}
.jumbotron h1 {
    background-image: url(https://cdn.freebiesupply.com/logos/thumbs/2x/friends-logo.png)
}
  
  .jumbotron p {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Caveat';
  }

  .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}