body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:rgb(198, 150, 230);
}

.container {
  display: inline-flex
}
#logo {
 padding-top: 100px;
 padding-bottom: 0;
  width: 75%;
  height: 75%;
}

.jumbotron {
  background-color:rgb(198, 150, 230);
 padding: 0;
}
.jumbotron img {
  display: flow-root;
width: 50%;
height: 50%;
}

.card1 {
    background-color:rgb(198, 150, 230); 
    color: black;
    font-size: 50px;
    font-family: 'Caveat';
    width: 400px;
    padding: 30px;
  }
   
  .card2 {
    background-color:rgb(198, 150, 230); 
    color: black;
    font-size: 50px;
    font-family: 'Caveat';
    padding: 50px;
  }

  h5 {
    color: black;
    font-size: 50px;
    font-family: 'Caveat';
  }

  #button {
    color: black;
    font-size: 50px;
    font-family: 'Caveat';
  
  }

  #start {
    color: black;
    font-size: 50px;
    font-family: 'Caveat';
  
  }

  .form-check-label {
    color: black;
    font-size: 25px;
    font-family: 'Caveat';
  }
  header h1{
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: 'Caveat';
   padding-top: 0;

  }
.header-img {
   display: flow-root;
  width: 10%;
  height: 10%;
}
  h1 {
    color: yellow;
    font-size: 30px;
    font-family: 'Caveat';
  }

  #after-submit {
    visibility:hidden;
  }

  
  .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}